:root {
  --var-color_blue: blue;
}
* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  text-align: center;
  h1 {
    border-style: solid;
    border-width: 3px;
    border-color: darkgrey;
    background-color: grey;
    border-radius: 5px;
    color: white;
  }
  // border-style: solid;
  // border-width: 3px;
  // border-color: white;
  // border-radius: 5px;
}
.main_container {
  width: 500px;
  height: 500px;
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 0 auto;
  background-image: url("img/Functional_Programming_In_Javascript.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main_container_parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin: 0;

  div {
    padding: 15px;
  }
}

.button_js {
  width: 100%;
  max-width: 150px;
  height: 50px;
  background: grey;
  color: white;
  font-size: 16px;
  border: solid;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

// .button_js_container {
//   padding-left: 33.5%;

// }

.output_js {
  padding-left: 30%;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 90px;
}
.profile {
  // top: 50px;
  position: relative;
  justify-content: left;
  align-items: left;
  text-align: left;

  p {
    left: 25px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-left: 30px;
  }
  .profile_values {
    border-style: solid;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 10px;
  }
  .profile_values img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    //   background-image: url(img/hinamizawa.png);
  }
}

#output {
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding-left: 2%;
  position: relative;
}
@import "mobile_version.scss";
@import "bored";
