<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/submodule.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>My Modules</title>
    <link rel="icon" href="../../media/hinamizawa.png" />
  </head>
  <body>
    <!-- Return button -->
    <a href="../../../index.html" class="return-button">
      <i class="fas fa-arrow-left"></i>
      <span>Return</span>
    </a>
    <div class="container">
      <div class="container-title"><h4>Module List:</h4></div>
      <div class="module-list">
        <ul id="lottery-files">
          <li>
            <div>
              <a href="../../../Lottery-Js-UI/menu.html" target="_blank"
                ><button class="special-btn-1">Lottery Module</button></a
              >
            </div>
          </li>
          <li>
            <div>
              <a href="#"
                ><button class="special-btn-2">Empty Module</button></a
              >
            </div>
          </li>
          <li>
            <div>
              <a href="#"><button>#</button></a>
            </div>
          </li>
          <!-- background-image:url("../../../media/bg_module.jpg"); -->
        </ul>
      </div>
    </div>
  </body>
</html>
