body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #ffffff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #bbbbbb;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"] {
    padding: 0.5em;
    margin-top: 1em;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
  }

  input[type="submit"] {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #0095ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  input[type="submit"]:hover {
    background-color: #007aff;
  }
}

@media (max-width: 767px) {
  form {
    width: 90%;
  }
}
