@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@media ALL {
  * {
    font-family: "Open Sans", sans-serif;
  }
  p {
    font-size: 14px;
  }
}
.inner_container {
  display: flex;
  flex-direction: row;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
}
.title h1 {
  border-style: solid;
  border-width: 3px;
  border-color: darkgrey;
  background-color: grey;
  border-radius: 5px;
  color: white;
}

.main_container {
  width: 500px;
  height: 500px;
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 0 auto;
  background-image: url("img/Functional_Programming_In_Javascript.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main_container_parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin: 0;
}
.main_container_parent div {
  padding: 15px;
}

.button_js {
  width: 100%;
  max-width: 150px;
  height: 50px;
  background: grey;
  color: white;
  font-size: 16px;
  border: solid;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.output_js {
  padding-left: 30%;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 90px;
}

.profile {
  position: relative;
  justify-content: left;
  align-items: left;
  text-align: left;
}
.profile p {
  left: 25px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding-left: 30px;
}
.profile .profile_values {
  border-style: solid;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 10px;
}
.profile .profile_values img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#output {
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding-left: 2%;
  position: relative;
}

/*Big template*/
:root {
  --transition: all 300ms ease-in-out;
  --dark-color: #332e29;
  --light-color: #fff;
  --bg: #222;
  --var-color_blue: blue;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

button,
.btn {
  cursor: pointer;
  border: none;
  background: transparent;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.vh-100 {
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: var(--dark-color);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.py-7 {
  padding: 7rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.lead {
  opacity: 0.8;
  padding: 1rem 0;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.8;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
  background: #ff5b4a;
  border: 1px solid #eee;
  height: 100px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: blue;
}

/* header */
#header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../media/herobanner.jpg") center/cover no-repeat fixed;
  justify-content: flex-start;
  align-items: flex-end;
}

#header .container {
  width: 100%;
}

.header-content {
  padding-bottom: 4rem;
}

.header-content h1 {
  font-size: 4.5rem;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--light-color);
}

.header-content h3 {
  color: var(--light-color);
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.social-links {
  display: flex;
  margin-top: 3.5rem;
  gap: 10px;
  position: relative;
}

.social-links ul li {
  list-style: none;
  position: relative;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.social-links li a {
  width: 40px;
  height: 40px;
  background-color: var(--light-color);
  margin-right: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.social-links li a:hover {
  opacity: 0.9;
}

/* about */
.about {
  background-color: #fff2f2;
}

.about-left {
  margin-bottom: 4rem;
  overflow: hidden;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.about-picture {
  transition: 1s;
}

.about-picture:hover {
  transform: scale(1.3);
  z-index: 2;
  transition: 1.8s;
}

/* button down and title -reusable */
.btn-down {
  font-size: 3rem;
  display: inline-block;
  margin-top: 1rem;
  transition: var(--transition);
}

.btn-down:hover {
  opacity: 0.8;
  transform: translateY(5px);
}

.btn-down-white {
  color: var(--light-color);
}

.title {
  margin-bottom: 5rem;
}

.title h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  position: relative;
}

.title h2::after {
  position: absolute;
  content: "";
  top: 120%;
  left: 0;
  width: 70px;
  height: 4px;
  background-color: var(--dark-color);
}

@media (min-width: 576px) {
  .title h2 {
    font-size: 4rem;
  }
  .work-bottom {
    grid-template-columns: repeat(4, 1fr);
  }
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-grid > div {
    height: 300px;
    overflow: hidden;
  }
  .portfolio-grid > div img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact-left form .form-control {
    max-width: 500px;
  }
  .footer-content ul {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .header-content h1 {
    font-size: 7rem;
  }
  .about-content,
  .work-top {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 6rem;
         column-gap: 6rem;
    row-gap: 0;
  }
  .about-left {
    margin-bottom: 0;
  }
  .contact-content {
    flex-direction: row;
  }
  .contact-right {
    padding-left: 3rem;
    width: 50%;
  }
  .contact-left {
    width: 50%;
  }
  .insta-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*Biggest one*//*# sourceMappingURL=main.css.map */