<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Login</title>
    <link rel="icon" href="views/media/hinamizawa.png" />
  </head>
  <body>
    <form name="loginForm" onsubmit="return validateForm()" method="post">
      <label>Username:</label><input type="text" name="username" /> <br /><br />
      <label>Password:</label><input type="password" name="password" />
      <br /><br />
      <input type="submit" value="Submit" />
    </form>
    <script src="../js/login.js"></script>
  </body>
</html>
