<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <!-- Icon for the website -->
    <link rel="icon" href="img/hinamizawa.png"/>
   <link rel="stylesheet" href="../css/styles.css">

  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="main.html">Home</a></li>
        <li><a href="../views/bored.html">Bored</a></li>
        <li><a href="main.html">Calculator</a></li>
      </ul>
    </nav>
    <div class="main_container">
      <div class="title">
        <h1>Calculator</h1>
      <div class= "main_container_parent">
        <div>
          <input type="text" id="input1" placeholder="Write in here!" />
        </div>
        <div>
          <input type="text" id="input2" placeholder="Write in here!" />
        </div>
          
      </div>
      <div class="button_js_container">
    <button class="button_js" onclick="yes()">Calculate Now!</button>
    <button class="button_js" onclick="options()">Other Options!</button>
     
      </div>
       <div class="output_js" style="display:flex;flex-direction:row;">
        <p> Your answer is: 
          <p id="output"> </p></p>
          <p id="output_option"></p>
      </div>
     <div class="profile">
  <p>Profile:</p>
  <div class="profile_values">
    <!-- <img src="/img/hinamizawa.png" alt="profile_picture" /> -->
  <a href="https://github.com/alejandroatacho">
    <img src="../img/hinamizawa.png" alt="profile_picture"/>
  

  </a>
  </div>
</div>

    </div>
    <script src="../js/web_calc.js"></script>
  </body>
</html>
